---
import ThemeToggleButton from "./ThemeToggleButton.astro";
---

<script type="text/javascript">
  function Open() {
    document.querySelector(".sidebar").classList.toggle("left-[-300px]");
  }
</script>
<header
  class="top-0 left-0 right-0 flex items-center justify-between gap-x-5 px-7 py-6 text-slate-800 dark:text-slate-100 md:px-10"
>
  <div class="flex items-center">
    <i class="bi bi-list text-2xl lg:hidden" onclick="Open()"></i>
  </div>
  <div class="flex items-center gap-5">
    <ThemeToggleButton />
  </div>
</header>
